<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="/js/productEdit.js" defer></script>
</head>
<body>
<h1>Edit Product</h1>
<button type="button" onclick="getRequestWithToken('/admin/page/product')">Back To List</button>

<input type="hidden" id="productId" th:value="${productRequest.productId}">

    <div>
        <label for="imageUrl">Image URL:</label>
        <input type="text" id="imageUrl" th:field="*{productRequest.imageUrl}" required>
    </div>
    <div>
        <label for="productUrl">Product URL:</label>
        <input type="text" id="productUrl" th:field="*{productRequest.productUrl}" required>
    </div>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{productRequest.name}" required>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" th:field="*{productRequest.price}" required>
    </div>
    <div>
        <label for="storeName">Store Name:</label>
        <input type="text" id="storeName" th:field="*{productRequest.storeName}" required>
    </div>
    <div>
        <label for="tagId">Tag:</label>
        <select id="tagId" name="tagId" required>
            <option th:each="tag : ${tags}" th:value="${tag.tagId}" th:text="${tag.productTagName}"
                    th:selected="${tag.tagId == productRequest.tag().tagId()}"></option>
        </select>
    </div>
    <button onclick="productUpdateRequestWithToken()">Update Product</button>
</body>
</html>
