<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Add Product Tag</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/main.js" defer></script>
    <script src="/js/productTagAdd.js" defer></script>
</head>
<body>
<div class="container">
    <h1>Add New Product Tag</h1>
    <div>
        <label for="productTagName">Tag Name:</label>
        <input type="text" id="productTagName" name="productTagName" th:field="*{productTagRequest.productTagName}" required>
    </div>
    <button onclick="productTagAddRequestWithToken()">Save Tag</button>
    <button onclick="getRequestWithToken('/admin/page/tag/product')">Back To List</button>
</div>
</body>
</html>