<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="ko">
<head>
    <title>Add Team Tag</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/main.js" defer></script>
    <script src="/js/tag/teamTagAdd.js" defer></script>
</head>
<body>
<div class="container">
    <h1>Add New Team Tag</h1>

    <div>
        <label for="teamTagName">Tag Name:</label>
        <input type="text" id="teamTagName" name="teamTagName"  required>
        <label for="teamTagAttribute">Tag Attribute:</label>
        <input type="text" id="teamTagAttribute" name="teamTagAttribute" required>
    </div>

    <button onclick="teamTagAddRequestWithToken()">Save Tag</button>
    <button onclick="getRequestWithToken('/admin/page/tag/team')">Back To List</button>
</div>
</body>
</html>