<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Product Tag List</title>
    <link rel="stylesheet" type="text/css"  href="/css/styles.css">
    <script src="/js/main.js" defer></script>
    <script src="/js/tag/productTagDelete.js" defer></script>
</head>
<body>
<div class="container">

    <h1>Product Tag List</h1>

    <button onclick="getRequestWithToken('/admin/page/tag/product/add')">Add New Product Tag</button>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Tag Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tag : ${productTags}">
            <td th:text="${tag.tagId}">1</td>
            <td th:text="${tag.productTagName}">Tag Name</td>
            <td>
                <button type="submit" th:onclick="|productTagDeleteRequestWithToken(${tag.tagId})|">Delete</button>
            </td>
        </tr>

        </tbody>
    </table>

    <button onclick="getRequestWithToken('/admin/page')">Back To Main</button>

</div>
</body>
</html>