<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Team Tag List</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/main.js" defer></script>
    <script src="/js/tag/teamTagDelete.js" defer></script>
</head>
<body>
<div class="container">
    <h1>Team Tag List</h1>
    <button onclick="getRequestWithToken('/admin/page/tag/team/add')">Add New Team Tag</button>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Tag Attribute</th>
            <th>Tag Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tag : ${teamTags}">
            <td th:text="${tag.tagId}">1</td>
            <td th:text="${tag.teamTagAttribute}">Tag Attribute</td>
            <td th:text="${tag.teamTagName}">Tag Name</td>
            <td>
                <button type="submit" th:onclick="|teamTagDeleteRequestWithToken(${tag.tagId})|">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

    <button onclick="getRequestWithToken('/admin/page')">Back To Main</button>
</div>
</body>
</html>