<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Admin Dashboard</h1>
</header>

<main>
    <section>

        <div class="centered-container">
        <!-- /admin/product로 이동하는 버튼 -->
            <button onclick="location.href='/admin/product'">Product Management</button>

            <!-- /admin/tag/product로 이동하는 버튼 -->
            <button onclick="location.href='/admin/tag/product'">Product Tag Management</button>

            <!-- /admin/tag/team로 이동하는 버튼 -->
            <button onclick="location.href='/admin/tag/team'">Team Tag Management</button>
        </div>
    </section>
</main>
</body>
</html>
